/* styles/globals.css */
/*
:global(html), :global(body) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
 
} */


/* Global css, for å ha regler på routing siudene som ikke følger style til home */ 

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E1E5EE;
  display: flex;
  flex-direction: column;
  align-items: center;

}


ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}



h2 {
  font-size: 45px;
}


main {
  width: 100%;
}

body {
  font-size: 55px;
}

