// Selv om denne ikke brukes, men for å ha oppnådd kriteriene legger jeg med. 
// Dette er SASS-en, som jeg har oversatt css-en jeg brukte i arbeidskrav 2.


// Varialbler som er brukt flere ganger 
$background-color: #E1E5EE;
$text-color: #fff;
$accent-color: #2A324B;
$font-family: 'Montserrat', sans-serif;
$navbar-font-size: 18px;
$section-h1-font-size: 22px;
$section-li-font-size: 19px;
$font-weight-bold: 900;
$font-weight-medium: 700;

// helhetlig design for siden
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color; // henter fra gjenbrukte variabler
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-family; // henter fra gjenbrukte variabler  
}

// design for header, nav
header, nav {
  width: 100%;
  background-color: $background-color; // henter fra gjenbrukte variabler
  position: relative;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

// Design for navbar
& ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20em;
  display: flex;
}

li a {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  color: $text-color;
  background-color: $accent-color; // henter fra gjennbrukte variabler
  text-decoration: none;
  text-align: center;
  font-weight: $font-weight-bold; // henter fra gjenbrukte variabler
  font-size: $navbar-font-size; // henter fra gjenbrukte variabler

  // bruk av & operator brukes til å refere til overordnet selektor i nøsting
  &:focus {
    background-color: $text-color;
    color: $accent-color; 
    }
  }
 

// Design for hovedinnhold
main {
  background-color: $background-color; // henter fra gjenbrukte variabler
  box-sizing: border-box;
  padding: 0;
}

// Design for section 
section {
  width: 800px;
  margin: 0em;
  padding: 1em;
  background-color: $text-color; // henter fra gjenbrukte variabler
  color: $accent-color; // henter fra gjenbrukte variabler
}
h1 {
  font-size: $section-h1-font-size;
  font-weight: $font-weight-bold;
}

p, ul li {
  font-weight: $font-weight-medium;
  font-size: $section-li-font-size;
}





// MEDIA QUERIES
@media only screen and (min-width: 600px) {
  nav {
    justify-content: center;

    ul li {
      margin-right: 35px;
    }
  }

  section {
    display: block;
  }
}






// Her har jeg konvertert css som er brukt til arbeidskrav 3 til sass. 

// gjenbrukte variabler 
$primary-bg-color: #E1E5EE;
$card-bg-color: #2A324B;
$font-color-dark: #333333;
$font-color-light: #ffffff;
$font-color-medium: #666666;
$font-family-default: 'Montserrat', sans-serif;

 

.main {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $primary-bg-color; // gjenbrukt variabel
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
  background-color: transparent !important;
}

.code {
  font-weight: 700;
  font-family: $font-family-default; // gjenbrukt variabel
}

.container {
  background-color: $primary-bg-color; // gjenbrukt variabel
  font-family: $font-family-default; // gjenbrukt variabel
  max-width: 1200px;
  margin-top: 20%;
  display: grid;
  flex-direction: column;
  gap: 50px;

  
  h1, h2 {
    background-color: $primary-bg-color; // gjenbrukt variabel
    align-items: center;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    background-color: aqua;
    display: flex;
  }

  ul {
    list-style: none;
    align-items: center;
  }

  li {
    font-size: 30px;
  }
}

.card {
  background-color: $card-bg-color; // gjenbrukt variabel
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    display: inline-block;
    transition: transform 200ms;
    font-size: 1rem;
    color: $font-color-dark; // gjenbrukt variabel
  }

  h2 {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    color: $font-color-light; // gjenbrukt variabel
    place-content: center;
  }

  p {
    font-size: 1rem;
    color: $font-color-medium; // gjenbrukt variabel
  }

  a:hover {
    background-color: #eeeeee;
  }
}

/* Responsivt design */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 15px;
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}